* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.wrapper {
  margin: 120px auto;
  padding: 26px 15px 30px;
  font-family: "Montserrat";
  overflow: hidden;
  background-color: #303030;
  width: 320px;
  height: 568px;

  @import "mainAndHeader.scss";
}
